h1 {
    color: darkgoldenrod;
    text-align: center;
  }
  h2 {
    color: rgb(211, 14, 73);
    font-style: italic;
    text-align: center;
  }
  p {
    font-family: sans-serif;
  }
  ul {
    line-height: 40px;
  }
  h3 {
    color: rgb(211, 14, 73);
    font-style: italic;
    text-align: center;
  }
  h4 {
    color: rgb(211, 14, 73);
    font-style: italic;
    text-align: center;
  }